<h1>Show page</h1>
<p>
	Name: <%= @firstapp.name %>
</p>
<p>
	Department: <%= @firstapp.department %>
</p>
<p>
	Company: <%= @firstapp.company %>
</p>
<p>
	<%= link_to "Edit this show", edit_firstapp_path(@firstapp) %>
	<%= link_to "Back to list index", firstapps_path %>

</p>